.button {
    font: inherit;
    border: 1px solid #4f005f;
    background: #4f005f;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;

}

.button:hover,
.button:active {
    background: #7f1188;
    border-color: #7f1188;

}

button:focus {
    outline: none;
}